<?xml version="1.0" encoding="utf-8" ?>
<configuration>
    <startup> 
        <supportedRuntime version="v4.0" sku=".NETFramework,Version=v4.6.1" />
    </startup>
    <system.serviceModel>
        <bindings>
            <wsDualHttpBinding>
                <binding name="WSDualHttpBinding_IClient" />
            </wsDualHttpBinding>
        </bindings>
        <client>
            <endpoint address="http://localhost:8362/public/" binding="wsDualHttpBinding"
                bindingConfiguration="WSDualHttpBinding_IClient" contract="SerRef.IClient"
                name="WSDualHttpBinding_IClient">
                <identity>
                    <userPrincipalName value="DESKTOP-SLCEQ4J\cira" />
                </identity>
            </endpoint>
        </client>
    </system.serviceModel>
</configuration>